@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=PT+Sans+Narrow&family=Titillium+Web&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  margin: auto;
  min-height: 100vh;
  background: rgb(56, 88, 148);
  color: rgb(82, 132, 224);
}

.main-container {
  margin: auto;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}

h3:first-child {
  margin: 1rem auto 0;
}

h3 {
  margin: 0 auto;
}

.center-panel {
  display: flex;
  flex-direction: column;
}

.settings-container {
  margin: auto 2rem auto 0;
  width: 300px;
  height: auto;
}

.pomodoro-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  height: 50vh;
  margin: auto 0 auto 2rem;
  padding: 1rem 0 0 1rem;
  overflow-y: scroll;
}

.cycle-bar {
  display: flex;
  flex-direction: column;
}
.clear-button {
  position: relative;
  margin: 1rem auto;
}

.clock {
  width: 450px;
  height: 450px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: rgb(120, 159, 231);
  border-radius: 2rem;
}

.choose-buttons {
  width: 300px;
  height: auto;
}
.choose-buttons,
.buttons {
  text-align: center;
}

.short-choose,
.long-choose,
.short-break-choose,
.long-break-choose {
  margin: 1rem auto;
  width: 225px;
}

.short-choose,
.long-choose,
.short-break-choose,
.long-break-choose,
.short,
.long,
.start,
.finish,
.default,
.clear-button {
  appearance: none;
  border: none;
  outline: none;
  background: rgb(61, 106, 189);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: rgb(33, 49, 78);
}

.short-break-choose:hover,
.long-break-choose:hover,
.short-choose:hover,
.long-choose:hover,
.short:hover,
.long:hover,
.start:hover,
.finish:hover,
.default:hover,
.clear-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.short-break-choose:active,
.long-break-choose:active,
.short-choose:active,
.long-choose:active,
.short:active,
.long:active,
.start:active,
.finish:active,
.default:active,
.clear-button:active {
  opacity: 0.6;
}

.timer {
  opacity: 0;
  text-align: center;
  padding: 1rem;
  font-size: 10rem;
  transition-property: all;
  transition-duration: 0.5s;
}

.break {
  text-align: center;
  margin-top: -2rem;
  font-size: 2rem;
  transition-property: all;
  transition-duration: 0.5s;
}

.edit-buttons {
  text-align: center;
}

@media (max-width: 1400px) {
  .short-break-choose,
  .long-break-choose,
  .short-choose,
  .long-choose {
    width: 175px;
  }

  .clock {
    width: 350px;
    height: 350px;
  }

  .timer {
    font-size: 7rem;
  }
  #footer {
    font-size: 1.5rem;
  }
}

@media (max-width: 1150px) {
  .main-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
  }
  .settings-container {
    width: 500px;
    height: auto;
    margin: 1rem auto;
  }
  .choose-buttons {
    width: 500px;
    margin: 0 auto;
  }
  .pomodoro-list {
    width: 300px;
    height: auto;
    margin: auto;
  }

  .pomodoro-element {
    position: relative;
    right: 0.5rem;
  }
}

@media (max-width: 950px) {
  .timer {
    font-size: 7rem;
  }

  .short-break-choose,
  .long-break-choose,
  .short-choose,
  .long-choose,
  .short,
  .long,
  .start,
  .finish,
  .default,
  .clear-button {
    font-size: 1rem;
  }
  #footer {
    font-size: 0.5rem;
  }
}

.default {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

@media (max-width: 550px) {
  .settings-container {
    width: 400px;
  }
  .choose-buttons {
    width: 400px;
  }
  .short-break-choose,
  .long-break-choose,
  .short-choose,
  .long-choose {
    margin: 0.5rem;
  }
}

@media (max-width: 550px) {
  .settings-container {
    width: 300px;
  }
  .choose-buttons {
    width: 300px;
  }
}

@media (max-width: 410px) {
  h3 {
    font-size: 1rem;
  }
  .clock {
    width: 280px;
    height: 280px;
    padding: 1rem;
  }
  .settings-container {
    width: 280px;
  }
  .choose-buttons {
    width: 280px;
  }
  .timer {
    font-size: 5rem;
  }
  .pomodoro-list {
    width: 280px;
  }
}

@media (max-width: 280px) {
  h3 {
    font-size: 0.7rem;
  }
  .clock {
    width: 250px;
    height: 250px;
    padding: 1rem;
  }
  .settings-container {
    width: 250px;
  }
  .choose-buttons {
    width: 250px;
  }
  .timer {
    font-size: 5rem;
  }
  .pomodoro-list {
    width: 250px;
  }
  .short-break-choose,
  .long-break-choose,
  .short-choose,
  .long-choose,
  .short,
  .long,
  .start,
  .finish,
  .default,
  .clear-button {
    font-size: 0.7rem;
  }
  .pomodoro-element {
    font-size: 0.7rem;
  }
}

/* Animations */

.animated {
  transition-property: background-color;
  transition-duration: 3s;
}

.contact-container {
  margin: auto;
}

#footer {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  color: rgb(33, 49, 78);
}
.contact-images {
  display: flex;
  justify-content: center;
}

.contact-images a {
  padding: 1rem;
  font-size: 0px;
}

.contact-container img {
  width: 50px;
  height: 50px;
}
